# ── Kaggle API ───────────────────────────────────────────────────────────
# Токен: kaggle.com -> аватар -> Settings -> API -> Create New Token
KAGGLE_API_TOKEN=KGAT_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ── Флаги (по умолчанию false) ─────────────────────────────────────────────
# логирование экспериментов с моделями
ENABLE_LOGGING=false
# сохранять ли картинки EDA в artifacts/
ENABLE_ARTIFACTS=false
# сделать быстрый прогон на неполном срезе с одной эпохой для второй задачи(используем, чтобы проверить работоспособность пайплайна)
ENABLE_FAST_DEV_RUN=false
