# Сбор и обработка данных
kaggle>=2.2
polars>=1.4
pyarrow>=16
pandas>=2.2
numpy>=2.0

# EDA / визуализация
matplotlib>=3.8
seaborn>=0.13
scikit-learn>=1.4
wordcloud>=1.9
langid>=1.1

# Глубокое обучение (Задача 2 — текст)
torch>=2.2
transformers>=4.40

# Работа с ноутбуками
jupyterlab
nbformat
nbconvert


# Логи
mlflow